<div class="centered content">
    <img src="https://siegelfabian.de/img/fabian.jpg">
    <h2>Sabian Fiegel</h2>
    <article>
        <p>Ha, you fool! You entered my javascript-only page!</p>
        <p>It even takes one second to load, because this is how the modern web is.</p>
        <p>Anyway, grab your flag here: </p>
        <code>
            {{flag}} 
        </code>
    </article>
</div>
